[Unit]
Description=NodeJS server, NextJS public frontend
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/ubuntu/bcard-ui.tuldok.dev
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target